Taking a look at my data. This won't be my final notebook. Need to read in the data and make sure things look ok.

In [41]:
import os
import pandas as pd

In [42]:
historical = pd.read_csv('historical.csv')
historical.head()

,Line,Unnamed: 1,1947,1948,1949,1950,1951,1952,1953,1954,...,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997
0,1,Gross domestic product,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
1,2,Private industries,86.5,87.9,87.2,88.1,87.1,86.1,86.3,85.9,...,85.7,85.7,85.5,85.0,85.0,85.3,85.7,85.9,86.3,86.6
2,3,"Agriculture, forestry, fishing, and hunting",8.0,8.4,6.8,6.6,6.6,6.0,5.1,5.0,...,1.5,1.6,1.6,1.4,1.5,1.3,1.4,1.2,1.4,1.3
3,4,Farms,7.6,8.0,6.5,6.2,6.2,5.7,4.8,4.7,...,1.2,1.3,1.3,1.1,1.2,1.0,1.1,0.9,1.1,1.0
4,5,"Forestry, fishing, and related activities",0.3,0.4,0.4,0.4,0.4,0.4,0.3,0.4,...,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.2

In [43]:
recent = pd.read_csv('recent.csv')
recent.head()

,Line,Unnamed: 1,1997,1998,1999,2000,2001,2002,2003,2004,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,1,Gross domestic product,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
1,2,Private industries,86.6,86.9,87.0,87.1,86.8,86.5,86.4,86.6,...,87.1,87.2,87.3,87.5,87.6,87.8,87.3,88.1,88.7,88.8
2,3,"Agriculture, forestry, fishing, and hunting",1.3,1.1,1.0,1.0,1.0,0.9,1.0,1.2,...,1.1,1.0,0.9,0.9,0.9,0.8,0.8,1.0,1.1,1.0
3,4,Farms,1.0,0.9,0.7,0.7,0.7,0.7,0.8,1.0,...,0.9,0.8,0.7,0.7,0.7,0.6,0.6,0.8,0.9,0.8
4,5,Crop production,0.6,0.5,0.4,0.4,0.3,0.4,0.4,0.5,...,0.5,0.4,0.4,0.4,0.3,0.3,0.2,0.4,0.5,0.4

In [44]:
historical.shape, recent.shape

((107, 53), (198, 29))

In [45]:
historical = historical.rename(columns={'Unnamed: 1': 'Category'})
recent = recent.rename(columns={'Unnamed: 1': 'Category'})

In [46]:
historical.Category = historical.Category.str.strip()
recent.Category = recent.Category.str.strip()

In [47]:
joined = historical.join(recent.set_index('Category'), how='left', on='Category', rsuffix='_recent')
joined.head()

,Line,Category,1947,1948,1949,1950,1951,1952,1953,1954,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,1,Gross domestic product,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
1,2,Private industries,86.5,87.9,87.2,88.1,87.1,86.1,86.3,85.9,...,87.1,87.2,87.3,87.5,87.6,87.8,87.3,88.1,88.7,88.8
2,3,"Agriculture, forestry, fishing, and hunting",8.0,8.4,6.8,6.6,6.6,6.0,5.1,5.0,...,1.1,1.0,0.9,0.9,0.9,0.8,0.8,1.0,1.1,1.0
3,4,Farms,7.6,8.0,6.5,6.2,6.2,5.7,4.8,4.7,...,0.9,0.8,0.7,0.7,0.7,0.6,0.6,0.8,0.9,0.8
4,5,"Forestry, fishing, and related activities",0.3,0.4,0.4,0.4,0.4,0.4,0.3,0.4,...,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2

In [48]:
joined.dropna()

,Line,Category,1947,1948,1949,1950,1951,1952,1953,1954,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,1,Gross domestic product,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
1,2,Private industries,86.5,87.9,87.2,88.1,87.1,86.1,86.3,85.9,...,87.1,87.2,87.3,87.5,87.6,87.8,87.3,88.1,88.7,88.8
2,3,"Agriculture, forestry, fishing, and hunting",8.0,8.4,6.8,6.6,6.6,6.0,5.1,5.0,...,1.1,1.0,0.9,0.9,0.9,0.8,0.8,1.0,1.1,1.0
3,4,Farms,7.6,8.0,6.5,6.2,6.2,5.7,4.8,4.7,...,0.9,0.8,0.7,0.7,0.7,0.6,0.6,0.8,0.9,0.8
4,5,"Forestry, fishing, and related activities",0.3,0.4,0.4,0.4,0.4,0.4,0.3,0.4,...,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,95,Government enterprises,0.6,0.6,0.6,0.5,0.4,0.6,0.6,0.7,...,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.2
94,95,Government enterprises,0.6,0.6,0.6,0.5,0.4,0.6,0.6,0.7,...,0.8,0.8,0.8,0.7,0.7,0.7,0.7,0.6,0.6,0.6
95,96,State and local,4.2,4.4,4.8,4.7,4.5,4.6,4.7,5.1,...,8.8,8.8,8.7,8.6,8.5,8.4,8.7,8.1,7.7,7.6
97,98,Government enterprises,0.5,0.5,0.6,0.6,0.6,0.6,0.6,0.6,...,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.2
97,98,Government enterprises,0.5,0.5,0.6,0.6,0.6,0.6,0.6,0.6,...,0.8,0.8,0.8,0.7,0.7,0.7,0.7,0.6,0.6,0.6

In [49]:
joined = joined.drop(columns=['Line', 'Line_recent', '1997_recent'])
joined.columns

Index(['Category', '1947', '1948', '1949', '1950', '1951', '1952', '1953',
       '1954', '1955', '1956', '1957', '1958', '1959', '1960', '1961', '1962',
       '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971',
       '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980',
       '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989',
       '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020', '2021', '2022', '2023'],
      dtype='object')

In [50]:
tposed = joined.dropna().rename(columns={'Category': 'Year'}).set_index('Year').T
tposed.head()

Year,Gross domestic product,Private industries,"Agriculture, forestry, fishing, and hunting",Farms,"Forestry, fishing, and related activities",Mining,Oil and gas extraction,"Mining, except oil and gas",Support activities for mining,Utilities,...,"Other services, except government",Government,Federal,National defense,Nondefense,Government enterprises,Government enterprises,State and local,Government enterprises,Government enterprises
1947,100.0,86.5,8.0,7.6,0.3,2.3,0.8,1.3,0.2,1.4,...,3.0,13.4,9.2,...,...,0.6,0.6,4.2,0.5,0.5
1948,100.0,87.9,8.4,8.0,0.4,2.8,1.2,1.4,0.2,1.4,...,2.8,12.1,7.7,...,...,0.6,0.6,4.4,0.5,0.5
1949,100.0,87.2,6.8,6.5,0.4,2.4,1.1,1.1,0.2,1.6,...,2.9,12.8,7.9,...,...,0.6,0.6,4.8,0.6,0.6
1950,100.0,88.1,6.6,6.2,0.4,2.5,1.1,1.2,0.2,1.6,...,2.9,11.9,7.2,...,...,0.5,0.5,4.7,0.6,0.6
1951,100.0,87.1,6.6,6.2,0.4,2.4,1.1,1.1,0.2,1.6,...,2.7,12.8,8.3,...,...,0.4,0.4,4.5,0.6,0.6

In [51]:
cols_of_interest = ['Private industries', 'Government', 'Agriculture, forestry, fishing, and hunting', 'Mining', 'Utilities',
                    'Construction', 'Manufacturing', 'Wholesale trade', 'Retail trade', 'Transportation and warehousing',
                    'Information', 'Data processing, internet publishing, and other information services',
                    'Finance and insurance', 'Real estate and rental and leasing', 'Professional and business services',
                    'Educational services', 'Health care and social assistance', 'Arts, entertainment, recreation, accommodation, and food services',
                    'Government', 'Federal', 'State and local']

specific = tposed[cols_of_interest]
specific.head()

Year,Private industries,Government,"Agriculture, forestry, fishing, and hunting",Mining,Utilities,Construction,Manufacturing,Wholesale trade,Retail trade,Transportation and warehousing,...,"Data processing, internet publishing, and other information services",Finance and insurance,Real estate and rental and leasing,Professional and business services,Educational services,Health care and social assistance,"Arts, entertainment, recreation, accommodation, and food services",Government,Federal,State and local
1947,86.5,13.4,8.0,2.3,1.4,3.6,25.4,6.2,9.3,5.7,...,...,2.4,7.9,3.3,0.3,1.5,3.2,13.4,9.2,4.2
1948,87.9,12.1,8.4,2.8,1.4,4.0,25.9,6.2,8.9,5.7,...,...,2.5,7.9,3.3,0.4,1.5,3.1,12.1,7.7,4.4
1949,87.2,12.8,6.8,2.4,1.6,4.1,25.3,6.1,9.1,5.5,...,...,2.8,8.5,3.4,0.4,1.6,3.2,12.8,7.9,4.8
1950,88.1,11.9,6.6,2.5,1.6,4.3,26.8,6.2,8.7,5.6,...,...,2.8,8.5,3.5,0.4,1.6,3.0,11.9,7.2,4.7
1951,87.1,12.8,6.6,2.4,1.6,4.4,27.6,6.1,8.2,5.5,...,...,2.7,8.1,3.4,0.3,1.5,2.8,12.8,8.3,4.5

In [52]:
renamed = specific.rename(columns={'Agriculture, forestry, fishing, and hunting': 'Agriculture',
                                   'Data processing, internet publishing, and other information services': 'Data services',
                                   'Real estate and rental and leasing': 'Real estate', 'Professional and business services': 'Professional services',
                                   'Health care and social assistance': 'Health care', 'Arts, entertainment, recreation, accommodation, and food services': 'Arts and entertainment'})
renamed.head()

Year,Private industries,Government,Agriculture,Mining,Utilities,Construction,Manufacturing,Wholesale trade,Retail trade,Transportation and warehousing,...,Data services,Finance and insurance,Real estate,Professional services,Educational services,Health care,Arts and entertainment,Government,Federal,State and local
1947,86.5,13.4,8.0,2.3,1.4,3.6,25.4,6.2,9.3,5.7,...,...,2.4,7.9,3.3,0.3,1.5,3.2,13.4,9.2,4.2
1948,87.9,12.1,8.4,2.8,1.4,4.0,25.9,6.2,8.9,5.7,...,...,2.5,7.9,3.3,0.4,1.5,3.1,12.1,7.7,4.4
1949,87.2,12.8,6.8,2.4,1.6,4.1,25.3,6.1,9.1,5.5,...,...,2.8,8.5,3.4,0.4,1.6,3.2,12.8,7.9,4.8
1950,88.1,11.9,6.6,2.5,1.6,4.3,26.8,6.2,8.7,5.6,...,...,2.8,8.5,3.5,0.4,1.6,3.0,11.9,7.2,4.7
1951,87.1,12.8,6.6,2.4,1.6,4.4,27.6,6.1,8.2,5.5,...,...,2.7,8.1,3.4,0.3,1.5,2.8,12.8,8.3,4.5

In [58]:
renamed = renamed.replace('...', 0.0)
renamed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 77 entries, 1947 to 2023
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Private industries              77 non-null     object
 1   Government                      77 non-null     object
 2   Agriculture                     77 non-null     object
 3   Mining                          77 non-null     object
 4   Utilities                       77 non-null     object
 5   Construction                    77 non-null     object
 6   Manufacturing                   77 non-null     object
 7   Wholesale trade                 77 non-null     object
 8   Retail trade                    77 non-null     object
 9   Transportation and warehousing  77 non-null     object
 10  Information                     77 non-null     object
 11  Data services                   77 non-null     object
 12  Finance and insurance           77 non-null     object
 13  Real estate                     77 non-null     object
 14  Professional services           77 non-null     object
 15  Educational services            77 non-null     object
 16  Health care                     77 non-null     object
 17  Arts and entertainment          77 non-null     object
 18  Government                      77 non-null     object
 19  Federal                         77 non-null     object
 20  State and local                 77 non-null     object
dtypes: object(21)
memory usage: 15.3+ KB

In [61]:
renamed = renamed.astype('float')
renamed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 77 entries, 1947 to 2023
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Private industries              77 non-null     float64
 1   Government                      77 non-null     float64
 2   Agriculture                     77 non-null     float64
 3   Mining                          77 non-null     float64
 4   Utilities                       77 non-null     float64
 5   Construction                    77 non-null     float64
 6   Manufacturing                   77 non-null     float64
 7   Wholesale trade                 77 non-null     float64
 8   Retail trade                    77 non-null     float64
 9   Transportation and warehousing  77 non-null     float64
 10  Information                     77 non-null     float64
 11  Data services                   77 non-null     float64
 12  Finance and insurance           77 non-null     float64
 13  Real estate                     77 non-null     float64
 14  Professional services           77 non-null     float64
 15  Educational services            77 non-null     float64
 16  Health care                     77 non-null     float64
 17  Arts and entertainment          77 non-null     float64
 18  Government                      77 non-null     float64
 19  Federal                         77 non-null     float64
 20  State and local                 77 non-null     float64
dtypes: float64(21)
memory usage: 15.3+ KB

In [64]:
renamed.index = renamed.index.astype('int')

At this point, everything looks good. I'll turn this into a couple functions in my helper file. This gets clean data I can use for EDA and modeling.